<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django post </title>
</head>
<body>

    <div>
        <h1><a href="">Django post</a></h1>
    </div>

    <div>
        <p>published: 10.05.2016, 12:15</p>
        <h2><a href="">My first post</a></h2>
        <p>asasasasasasasasasas</p>
    </div>

    <div>
        <p>published: 10.05.2016, 12:15</p>
        <h2><a href="">My second post</a></h2>
        <p>asasasasasasasasasas</p>
    </div>

</body>
</html>